footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  height: 501px;
  background: rgba(109, 4, 48, 0.05);
  border-radius: 60px;
  column-gap: 35px;
  border: 30px solid white;
}
footer h4 {
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 4px;
  color: #eb5296;
  text-transform: uppercase;
  padding: 118px 0 50px 0;
}

.footer1 {
  padding: 118px 100px 0 90px;
}
footer .logo {
  padding-bottom: 50px;
}
footer p {
  padding-bottom: 40px;
}

@media only screen and (max-width: 1024px) {
  footer p {
    padding-bottom: 20px;
  }
  .footer1 {
    padding: 60px 20px 0 60px;
  }
  footer h4 {
    padding: 60px 0 50px 0;
  }
}
@media only screen and (max-width: 600px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    border-radius: 60px;
    column-gap: 35px;
    border: 30px solid white;
  }
  footer h4 {
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 4px;
    color: #eb5296;
    text-transform: uppercase;
    padding: 60px 0 0 0;
    text-align: center;
  }

  .footer1 {
    padding: 118px 50px 0 50px;
  }
  footer .logo {
    padding-bottom: 50px;
    text-align: center;
  }
  footer p {
    padding-bottom: 40px;
    text-align: center;
  }
}
