.section1 {
  height: 100%;
  width: auto;
  display: grid;
  grid-template-areas:
    "secimg sech2"
    "secimg secp"
    "secimg secp2";
  padding: 120px 80px 120px 40px;
  column-gap: 80px;
}
.section1 img {
  grid-area: secimg;
  height: auto;
  width: auto;
  border-radius: 15px;
}
.section1 h2 {
  grid-area: sech2;
  font-size: 42px;
  font-weight: 600;
  line-height: 50.4px;
  letter-spacing: -1px;
  color: #102a42;
  padding-top: 90px;
}
.section-paragraph {
  grid-area: secp;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(29, 38, 58, 0.5);
  padding-right: 65px;
  width: 374px;
  height: 78px;
}
.section-last-paragraph {
  width: 219.82px;
  height: 19.07px;
  grid-area: secp2;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 4px;
  font-weight: 600;
  color: #eb5296;
}
@media only screen and (max-width: 1024px) {
  .section1 img {
    height: 500px;
    width: 423px;
    object-fit: cover;
  }
  .section1 {
    padding: 60px 0px 60px 0px;
    column-gap: 40px;
  }
  .section1 h2 {
    padding-right: 50px;
  }
  .section-paragraph {
    padding-right: auto;
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .section1 {
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "secimg"
      "sech2"
      "secp"
      "secp2";
    padding: 60px 10px 40px 10px;
    column-gap: 80px;
  }
  .section1 img {
    grid-area: secimg;
    height: auto;
    width: 95%;
    object-fit: contain;
    border-radius: 15px;
  }
}
