@import url("header.css");
@import url("main.css");
@import url("values.css");
@import url("explore.css");
@import url("article.css");
@import url("section1.css");
@import url("section2.css");
@import url("subscribe.css");
@import url("footer.css");
* {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  grid-template-columns: 1fr;
  width: 1232px;
  display: block;
  margin: auto;
}
.active {
  background: linear-gradient(#8ec5fc, #e0c3fc);
  transition: 0.3s;
}
@media only screen and (max-width: 1024px) {
  body {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
}
