@import url("header.css");
@import url("main.css");
@import url("values.css");
@import url("explore.css");
@import url("article.css");
@import url("section1.css");
@import url("section2.css");
@import url("subscribe.css");
@import url("footer.css");
* {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  grid-template-columns: 1fr;
  width: 1232px;
  display: block;
  margin: auto;
}
.active {
  background: #eb5296;
  transition: 0.3s;
  color: white;
}
.active:hover {
  background: rgba(255, 255, 255, 0.493);
  transition: 0.3s;
  color: #eb5296;
  border: 3px solid #eb5296;
}
@media only screen and (max-width: 1024px) {
  body {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}
.showcase-active {
  background-color: blue;
  color: blueviolet;
}
.how-we-do-it-active {
  background-color: black;
}
#section-active {
  background-color: black;
}

.active-section {
  background-color: blue;
}

.section-active {
  transform: scale(1.03);
  box-shadow: 1px 0 60px 0 rgba(0, 0, 0, 0.3);
  transition: 1s;
  z-index: 1000;
}
