.subscribe {
  height: 1000px;
  width: 100%;
  background: rgba(16, 42, 66, 0.02);
}
.subscribe h2 {
  opacity: 90%;
  font-weight: 600;
  font-size: 42px;
  line-height: 50.4px;
  letter-spacing: -1px;
  color: rgba(235, 82, 150, 1);
  padding: 80px 0 30px 0;
}
.sub-text-container {
  width: 509px;
  display: block;
  margin: auto;
  padding-bottom: 30px;
}
.subscribe p {
  opacity: 70%;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: #1d263a;
}
.sub-text-container-p {
  width: 462px;
}
.sub-form {
  width: 85%;
  height: auto;
  background: white;
  border-radius: 15px;
  padding: 40px;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-content: space-around;
}

.sub-form h4 {
  width: 111px;
  height: 30px;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  color: #1d263a;
  padding-top: 30px;
}
.sub-box {
  width: 100%;
  padding-top: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

textarea {
  border: none;
  border-bottom: none;
  background: repeating-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 0 1px,
      transparent 1px 38px
    )
    0 28px / 100% content-box no-repeat;
  outline: none;
  overflow: hidden;
  line-height: 39px;
  margin-left: auto;
  width: 100%;
  resize: none;
  opacity: 0.7;
  padding-top: 10px;
}
.submit-button {
  background: none;
  border: 2px solid rgba(235, 82, 150, 1);
  width: 100%;
  font-size: 21px;
  line-height: 30px;
  padding: 12px 0 12px 0;
  color: rgba(235, 82, 150, 1);
  border-radius: 100px;
  transition: 0.3s;
}
.submit-button:hover {
  background: rgba(29, 38, 58, 0.7);
  border: 2px solid rgba(29, 38, 58, 0.01);
  width: 100%;
  font-size: 21px;
  line-height: 30px;
  padding: 12px 0 12px 0;
  color: white;
  border-radius: 100px;
  cursor: pointer;
}
.sub-button-container {
  padding-top: 34px;
}
.disclaimer-container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
.disclaimer-container-img {
  padding-top: 4px;
  padding-right: 15px;
  opacity: 0.5;
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 600px) {
  .sub-text-container {
    width: auto;
    display: block;
    margin: auto;
    padding: 0 30px 30px 30px;
    text-align: center;
  }
  .sub-text-container-p {
    width: auto;
  }
  .sub-form {
    width: 85%;
    height: auto;
    background: white;
    border-radius: 15px;
    padding: 40px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    align-content: space-around;
  }
  .subscribe {
    height: auto;
  }
}
.submitted-active {
  background: rgba(235, 82, 150, 1);
  font-size: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.3s;
}
